<div class="row cta-form">
  <form action="{{ site.mailchimp.form-url }}" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank">
    <div class="col-xs-12 col-sm-5 col-sm-offset-2 col-lg-4 col-lg-offset-3">
      <input type="email" value="" name="EMAIL" class="form-control input-lg" placeholder="Email Address" id="mce-EMAIL">
    </div>
    <div class="col-xs-12 col-sm-3 col-lg-2 btn-container">
      <button type="submit" name="subscribe" class="btn btn-primary btn-lg btn-block">Get Started</button>
    </div>
  </form>
</div>
