{% assign section = site.data.quote %}

<section class="quote site-section" id="quote">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 col-lg-8">

        <div class="quote-wrapper">
          <div class="row justify-content-center">
            <blockquote class="quote-blockquote blockquote text-center">
              <p class="quote-quote">
                "{{ section.quote }}"
              </p>
              <footer class="blockquote-footer">
                <p class="quote-title">{{ section.title }}</p>
                <p class="quote-note">{{ section.note }}</p>
              </footer>
            </blockquote>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
