<section class="supported-platforms-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="lead-text text-center">{{ page.supported-platforms.title }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="platforms">
          <ul class="platforms-lister">
            {% for platform in page.supported-platforms.items %}
              <li class="platforms-lister-item">
                <img src="{{ platform.logo-url }}" alt="{{ platform.title }}" />
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
