.pricing-panel {
  @include material-layer(1);
  width: 95%;
  background-color: $white;
  margin: 0 auto;
  text-align: center;
  padding: $pad-triple $pad-double;
  max-width: 380px;

  h1 {
    margin: 0;
  }

  &-price {
    margin-bottom: $space*6;

    p {
      font-weight: 400;
    }
  }

  &-footer {
    margin-top: $space*6;
  }

  &-features {
    @include font-size($p-font-sizes);
    font-weight: 600;

    ul {
      text-align: left;
      color: $color--accent;

      li span {
        color: $color--text-primary;
      }
    }
  }
}
