$size--title-font-weight:                           600;
$size--features-border-radius:                      8px;
$size--feature-bar-width:                           4px;
$transition--feature:                               all .2s ease-out;

.feature {
  position: relative;

  &:not(:first-child) {
    margin-top: $spacer*1.5;
  }

  &-title {
    font-weight: $size--title-font-weight;
    margin-bottom: $spacer*.5;
  }

  &-text {
    font-size: $size--paragraph-font;
    margin-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    padding-left: $spacer*2;

    &--active::before {
      background-color: $shamrock-green;
      bottom: 5px;
      content: '';
      left: 0;
      position: absolute;
      top: 5px;
      width: $size--feature-bar-width;
    }

    &-text, &-title {
      color: $gray;
      transition: $transition--feature;
    }

    &-text--active, &-title--active {
      color: $tundora;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-left: $spacer;
  }
}

.features {
  &-list {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    &-container {
      border: 1px solid $mercury;
      border-radius: $size--features-border-radius;
      cursor: pointer;
      padding: $spacer*3 0;
    }

    &-image {
      pointer-events: none;
      left: 50%;
      position: absolute;
      opacity: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: $transition--feature;

      &--active {
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &-container {
      padding: $spacer*5 0;
    }
  }
}
