$size--quote-border-radius:                         8px;
$size--quote-padding-x:                             $spacer * 2.0625;
$size--quote-padding-x-sm:                          $spacer * 1;
$size--quote-font-weight:                           600;
$size--blockquote-padding-y:                        $size--site-section-padding-y;

.quote {
  background-color: $alternate--color;

  &-blockquote {
    padding: 0 $size--quote-padding-x;
    margin: 0 $spacer;
  }

  &-wrapper {
    padding-top: $size--blockquote-padding-y;
    padding-bottom: $size--blockquote-padding-y;
  }

  &-quote {
    font-weight: $size--quote-font-weight;
    line-height: 1.25;
    margin-bottom: $spacer * 2.5;
  }

  &-title, &-note {
    font-size: $font-size-base * 1.25;
    font-weight: $size--quote-font-weight;
    margin: 0;
  }

  &-title {
    font-style: italic;
  }

  @include media-breakpoint-down(md) {
    &-wrapper {
      padding: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    &-blockquote {
      padding: 0 $size--quote-padding-x-sm;
    }

    &-quote {
      font-size: $font-size-base * 1.375;
      margin-bottom: $spacer * 2;
    }

    &-title {
      font-size: $font-size-base * 1.125;
    }

    &-note {
      font-size: $font-size-base;
    }
  }
}

// To prevent bootstrap default, which is a -
.blockquote-footer::before {
  content: '';
}
