$size--title-font-weight-sm:                        600;
$size--title-font-weight:                           bold;

.feature {
  &-title {
    font-weight: $size--title-font-weight-sm;
    font-size: $font-size-base * 1.375;
    // line-height: 1.42;
    margin-bottom: $spacer;
  }

  &-image {
    text-align: center;
  }

  &--inverse {
    background-color: $alternate--color;
  }

  @include media-breakpoint-up(md) {
    &-title {
      font-weight: $size--title-font-weight;
      font-size: $font-size-base*1.5;
    }

    &-content {
      justify-content: space-between;

      &--inverse {
        flex-direction: row-reverse;
      }
    }

    &-image {
      text-align: right;

      &--inverse {
        text-align: left;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &-title {
      font-size: $font-size-base*1.75;
    }

    &-text {
      font-size: $size--paragraph-font;
    }
  }
}
