$color--menu-background:                    $gun-powder;
$color--menu-link:                          $white;
$size--link-font:                           $font-size-base*1.125;
$transition--mobile-menu:                   transform 1ms ease-in-out, opacity .3s cubic-bezier(.165, .84, .44, 1);

.mobile-menu {
  background-color: $color--menu-background;
  opacity: 0;
  transform: translateY(110%);
  transition: $transition--mobile-menu;
  z-index: z('mobile-menu');

  &--active {
    transform: translateY(0);
    opacity: 1;
  }

  &-links {
    margin-top: $spacer*5;
  }

  &-item:not(:first-child) {
    margin-top: $spacer*2;
  }

  &-link {
    font-size: $size--link-font;
    color: $color--menu-link;
    text-transform: uppercase;
  }
}
