.platforms-lister {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;

  &-item {
    $items-per-row: 1;

    padding: $pad;
    width: 100%/$items-per-row;
    float: left;

    img {
      max-width: 100%;
      width: 60%;
    }

    @media #{$from-small-resolutions} {
      $items-per-row: 3;
      width: 100%/$items-per-row;

      img {
        width: 90%;
      }
    }

    @media #{$from-medium-resolutions} {
      $items-per-row: 5;
      width: 100%/$items-per-row;
    }
  }
}
