$size--font-footer:         1.4rem;

footer {
  text-align: center;

  @media #{$from-small-resolutions} {
    text-align: left;
  }
}

.footer-bar {
  height: 2px;
  width: 100%;
  max-width: 220px;
  margin: $space-double auto;
  background-color: $iron;

  @media #{$from-small-resolutions} {
    margin: $space-double 0;
  }
}

.footer-heading {
  color: $color--text-secondary;
  margin: $space + $space-half 0;
  font-size: $size--font-footer;
}

.footer-links {
  p {
    margin-bottom: 0;
  }

  a {
    font-size: $size--font-footer;
  }
}
