html, body {
  height: 100%;
}

.site {
  position: relative;
}

.site-content {
  margin-top: $size--navbar-height;
  min-height: 100%;
  margin-bottom: -$size--footer-height;

  &::after {
    content: "";
    display: block;
    height: $size--footer-height;
  }
}

.site-section {
  padding: $spacer*3 $spacer*.5;
}
