.contact {
  margin-top: $spacer*3;
  margin-bottom: $spacer*8;

  &-title {
    margin-bottom: $spacer*2;
  }

  &-text {
    font-size: $font-size-lg;
    margin-bottom: $spacer*3.5;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: $spacer*3;

    &-title {
      margin-bottom: $spacer*1.5;
    }
  }
}
