html, body {
  height: 100%;
}

.site {
  position: relative;
}

.site-content {
  min-height: 100%;
  margin-bottom: -$size--footer-height;

  &::after {
    content: "";
    display: block;
    height: $size--footer-height;
  }

  &--pricing {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.site-section {
  padding: $spacer*3 $spacer*.5;
}
