.btn {
  // FIXME: This should be set automaticaly by bootstrap using some variable/setting
  font-family: $primary-font;
  cursor: pointer;
}

.btn-primary {
  font-size: $font-size-base*1.375;

  &:hover, &:focus {
    background-color: $color--btn-primary-hover;
  }
}
