$size--technology-small:                         100% / 3;
$size--techonologies-max-width:                  600px;

.technologies {
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include media-breakpoint-up(md) {
    justify-content: space-between;
    max-width: $size--techonologies-max-width;
  }
}

.technology {
  width: $size--technology-small;

  @include media-breakpoint-up(md) {
    width: auto;
  }
}
