.contact {
  margin-bottom: $spacer*3;

  &-text {
    font-size: $size--paragraph-font;
    margin-bottom: $spacer*2;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: $spacer*5;

    &-text {
      font-size: $font-size-lg;
    }
  }
}
