/*
 * Color Variables
 */

$alabaster:                           #FAFAFA;
$alto:                                #D8D8D8;
$dove-gray:                           #727272;
$dusty-gray:                          #9B9B9B;
$gray:                                #898989;
$jade:                                #02B15E;
$mercury:                             #E9E9E9;
$shamrock-green:                      #00C96A;
$tundora:                             #4A4A4A;
$white:                               #FFFFFF;


/*
 * Usable Colors
 */

$color--anchor-font:                  $dove-gray;
$color--footer-background:            $tundora;
$color--text:                         $tundora;
