/**
 * Buttons
 */

$color--btn-primary-hover:                       $jade;

/**
 * Footer
 */

$size--footer-height:                            80px;

/**
 * Navbar
 */

$size--navbar-height:                           70px;
