/*
 * Color Variables
 */

$tundora:                             #4a4a4a;
$dove-gray:                           #727272;

/*
 * Usable Colors
 */

$color--anchor-font:                  $dove-gray;
$color--footer-background:            $tundora;
