// -----------------------------------------------------------------------------
// Space
// -----------------------------------------------------------------------------
$space:                         1rem;
$space-double:                  $space*2;
$space-triple:                  $space*3;
$space-half:                    $space/2;
$space-quarter:                 $space/4;

$pad:                           10px;
$half-pad:                      ceil($pad/2);
$three-quarter-pad:             ceil($pad*0.75);
$pad-and-half:                  ceil($pad*1.5);
$pad-double:                    ceil($pad*2);
$pad-triple:                    ceil($pad*3);
$pad-half:                      ceil($pad/2);
$pad-quarter:                   ceil($pad/4);

// -----------------------------------------------------------------------------
// Media queries
// -----------------------------------------------------------------------------

$minimun-screen-resolution:     320px;

$bootstrap-sm:                  768px;
$bootstrap-md:                  992px;
$bootstrap-lg:                  1200px;
$screens-fhd:                   1920px;
$tablet-landscape:              1024px;

$from-small-resolutions:                  "only screen and (min-width: #{$bootstrap-sm})";
$from-medium-resolutions:                 "only screen and (min-width: #{$bootstrap-md})";
$from-large-resolutions:                  "only screen and (min-width: #{$bootstrap-lg})";
$from-fhd-resolutions:                    "only screen and (min-width: 1920px)";

$breakpoints: (
  sm: $bootstrap-sm,
  md: $bootstrap-md,
  lg: $bootstrap-lg
);
