/*
 * Color Variables
 */

$alabaster:                           #FAFAFA;
$alto:                                #D8D8D8;
$black:                               #000000;
$dove-gray:                           #727272;
$dusty-gray:                          #9B9B9B;
$gray:                                #898989;
$gun-powder:                          #40404D;
$jade:                                #02B15E;
$jumbo:                               #787881;
$mercury:                             #E9E9E9;
$orange-peel:                         #F89F00;
$romance:                             #FEFEFE;
$shamrock-green:                      #00C96A;
$tundora:                             #4A4A4A;
$web-orange:                          #FFA300;
$white:                               #FFFFFF;


/*
 * Usable Colors
 */

$color--anchor-font:                  $dove-gray;
$color--footer-background:            $tundora;
$color--text:                         $tundora;
