$h1-font-sizes: (
  null: (4.6rem, 1.16),
  sm: 4.8rem,
  md: 5.2rem,
  lg: 5.4rem
);

$h2-font-sizes: (
  null: (3.8rem, 1.26),
  sm: 4.0rem,
  md: 4.2rem,
  lg: 4.4rem
);

$h4-font-sizes: (
  null: (2.2rem, 1.36),
);

$p-font-sizes: (
  null: 1.8rem
);
