.cta-section {
  background: url('/images/cta-background.png');
  background-size: cover;
  padding: $pad*8 0;

  h2 {
    color: $color--primary;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: $space*5;
  }
}
