.lead-section {
  background-color: $color--background;
  padding: $pad*6 + $half-pad 0;

  h1 {
    @extend %heading-primary;
  }

  h4 {
    @extend %limited-heading;
    font-weight: 400;
    margin-bottom: $space*6;
  }

  @media #{$from-small-resolutions} {
    padding: $pad*11 0;
  }
}
